* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Courier New;
  font-weight: 300;
  color: black;
  text-decoration:none;
  }
#header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  height: 50px;
  background-color: white;
}

#navbar {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  align-items: center;
  width:100%;
}


.nav-link {
  margin: 10px;
}
#welcome-section {
  background-color: grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 90px;
  height: 100vh;
  width: 100%;
}
#projects {
  display: flex;
  flex-direction: column;
  background-color: silver;
  align-items: center;
  justify-content: space-between;
  height: 200px;
  padding: 30px;
  margin: 30px 10px 30px 10px;
}
#profile_link {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: grey;
  padding: 50px;
  height: 200px;
  width: 100%;
  justify-content: space-between;
}
@media (max-width: 769px) {
  * {
    font-size: 0.9rem !important;
